body {
  font-family: Bahnschrift SemiCondensed;
  font-size: larger;
  background-image: url(./pexels-mack-kamp-1449455.jpg);
  background-size: cover;
  color: black;
}

h1 {
  color: rgb(246, 239, 239);
  text-align: center;
  background-color: rgba(213, 111, 60, 0.711);
}
.button {
  background-color: #102f97cb;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.container2 {
  float: left;
  background-color: rgba(255, 228, 196, 0.695);
  color: rgb(1, 0, 0);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.703);
  border-radius: 30px;
  font: 600 16px/18px "Open Sans", sans-serif;
}
.navbar li {
  float: left;
  list-style: none;
  margin: 13px 20px;
}
.navbar ul {
  overflow: auto;
}
.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: black;
}
.search {
  float: right;
  color: black;
  fill: black;
  padding: 12px 75px;
}
.navbar input {
  border: 2px solid black;
  border-radius: 14px;
  padding: 3px 17px;
  width: 129px;
}
.navbar li a:hover {
  color: rgb(166, 0, 255);
}
.checked {
  color: rgb(238, 255, 0);
}
.dd {
  float: right;
  color: white;
  background-color: #286fd33b;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
}
